<table class="secret">
	<tr>
		<th>Source</th>
		<th colspan=2>Text</th>
	</tr>
	<% times = 0 -%>
	<% @recent.each do |l| -%>
		<tr>
			<td><%= l.source_type.capitalize -%></td>
			<td><%= l.content[0..300] -%></td>
			<td class="ts"><%= time_ago_in_words(l.created_at) -%> ago</td>
		</tr>
	<% end %>
</table>