/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Open Sans', sans-serif;
	background: #333;
	color: #fff;
}

h1, h2, h3 {
	text-align: center;
}

h2{
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 40px;
}

h3{
	font-size: 24px;
	margin-bottom: 10px
}

.left-column{
	float: left;
	width: 32%;
}
.right-column{
	float: right;
	width: 32%;
}
.middle-column{
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-spacing: 0px;
}

td{
	padding: 5px;
}

tr:nth-child(odd) {
   background-color: #4E6371;

}
td.score{
	text-align: center;
}